[Unit]
Description=Sensible Queue Worker
Documentation=https://github.com/keithy/sensible

[Service]
Type=oneshot
Environment=SENSIBLE_TASKS_DIR=/var/lib/sensible/tasks
ExecStart=/usr/local/bin/sensible consume
StandardOutput=journal
StandardError=journal
RefuseMultipleInstances=true

[Install]
WantedBy=multi-user.target
