[Unit]
Description=Sensible Queue Worker
Documentation=https://github.com/keithy/sensible
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/sensible-queue worker
StandardOutput=journal
StandardError=journal
RefuseMultipleInstances=true

[Install]
WantedBy=multi-user.target
